{% extends "base.njk" %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.7.0/dist/min/dropzone.min.css">
{% endblock %}

{% block main %}
<form id="upload-widget" action="{{ action }}" class="dropzone"></form>

<div id="processing" role="status" style="display:none;">
    <span>Processing, please wait...</span>
    <span class="spinner"></span>
</div>
<div id="warnings"></div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/dropzone@5.7.0/dist/min/dropzone.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/dropzone-custom.js"></script>
{% endblock %}